.masterBody 
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:#F99FA8;
}
.masterNav 
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:#AF2532;
}
.nav.navbar-nav li a 
{
   color: #ED707B;
 }
.navbar-inverse .navbar-brand 
{
    color: #ED707B;
}
.masterFooter
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:yellow;
    text-align:center;
    border-color:black;
    border-style:solid;
    border-width:thin;
    color:#0A4C58;
}

.divBody
/*Default CSS*/
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #FFD0A3;
    border-style:solid;
    border-width:3px;
    border-color:#F5B373;
    border-radius:10px;
    color: #B56C26;
    padding:8px;
    
}
.gameImageFrame
{
    background-color: #FFD0A3;
    border-style:solid;
    border-width:3px;
    border-color:#F5B373;
    float:left;
    width:200px;
    height:200px;
    color: #B56C26;
    padding:8px;
}
.gameInformation
{


}

.tableFillout
/*Table from Registration/Login Page*/
{
   width:100%;
   border-spacing:10px 50px;
   height:140px;
}
.btn
/*Button*/
{
    color:#FFD0A3;
    background-color:#B56C26;
}
.float
/*Moves button to the top right*/{
    float:right;
}
.hr
/*changes color of HR*/
{
    border-color:#8A0C18;
}
.heightRegistration 
/*Div height for Registration*/
{
    height: 300px;

}
.heightGamePages
/*Div height for GamePages*/
{
    height: 500px;
    padding: 20px;
}
/*The following three cut the bottom of the profile in approx. 1/2*/
.halfSize{
    width:48%;
}
.right{
    float:right;
}
.left{
    float:left;
}
.profedit{
    visibility:hidden;
}